/* catalogue.css */

.catalogue {
    float: left;
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* catalogue.css */
  
  .display {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .catalogue {
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
    /* Make catalogue box scrollable */
    height: 60vh;
    /* Set catalogue box height to 70% of screen height */
  }
  
  .header {
    border: 1px solid #ccc;
    height: 10vh;
    border-radius: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
  
  }

  .back_button {
    background-color: #ff0000c5;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back_button:hover {
    background-color: #cc0000c7;
  }
  
  .catalogue-box {
    overflow-y: auto;
    /* Make catalogue box scrollable */
    height: 70vh;
    /* Set catalogue box height to 70% of screen height */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .catalogue-box h2 {
    margin-top: 0;
  }
  
  .checkout-section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .bcheckout {
    width: 30%;
    padding: 30px;
    border: 1px solid #ccc;
    margin-left: 20px;
    height: 70vh;
  }
  
  .checkout {
  
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 2px;
    height: 50vh;
    overflow-y: auto;
    /* Add margin to separate from catalogue */
  }
  
  #catalogue-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #catalogue-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #catalogue-list li:last-child {
    border-bottom: none;
  }
  
  .select-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .select-btn:hover {
    background-color: #3e8e41;
  }
  
  #checkout-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #checkout-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #checkout-list li:last-child {
    border-bottom: none;
  }
  
  .delete-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  
  #total-cost {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #proceed-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #proceed-btn:hover {
    background-color: #3e8e41;
  }