<!-- core/templates/core/edit_budgets.html -->
{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h1>Edit Budgets</h1>
    <table>
        <thead>
            <tr>
                <th>Department</th>
                <th>Budget Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr>
                <td>{{ budget.department.name }}</td>
                <td>{{ budget.amount }}</td>
                <td>
                    <a href="{% url 'update_budget' budget.id %}" class="table-button">Update</a>
                    <a href="{% url 'delete_budget' budget.id %}" class="table-button">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No budgets found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_budget' %}" class="button">Add Budget</a>
    <a href="{% url 'settings' %}" class="button">Back</a>
</div>
{% endblock %}
