{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <h1>User Home</h1>
        <form id="userForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="user">Select Your Name:</label>
                <select id="user" name="user">
                    <option value="">-- Select a User --</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="button-container">
                <button type="submit" class="button">Next</button>
            </div>
        </form>
        <div class="button-container">
            <a href="{% url 'home' %}" class="button">Back to Home</a>
        </div>
    </div>

    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            var userSelect = document.getElementById('user');
            if (userSelect.value === "") {
                alert('Please select a user or create a user from admin.');
                event.preventDefault();
            }
        });
    </script>
{% endblock %}
