<!-- core/templates/core/view_all_items.html -->
{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h1>View All Items</h1>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                {% for department in departments %}
                <th>{{ department.name }}</th>
                {% endfor %}
                <th>Price</th>
                <th>Total Quantity</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                {% for department in departments %}
                <td>{{ item.item_quantities.filter(department=department).count }}</td>
                {% endfor %}
                <td>{{ item.price }}</td>
                <td>{{ item.item_quantities.aggregate(Sum('quantity')).quantity__sum }}</td>
                <td>{{ item.item_quantities.aggregate(Sum('quantity')).quantity__sum * item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'admin_home' %}" class="button">Back</a>
</div>
{% endblock %}
